# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TestResults
.vs/
bin/
obj/
*~
/.sonarqube/conf/vbnet/SonarLint.xml
/.sonarqube/conf/SonarQubeAnalysisConfig.xml
/.sonarqube/conf/Sonar-vbnet.ruleset
/.sonarqube/conf/Sonar-vbnet-none.ruleset
/.sonarqube/conf/Sonar-cs.ruleset
/.sonarqube/conf/Sonar-cs-none.ruleset
/.sonarqube/conf/cs/SonarLint.xml
/BoardManagerTest/coverage.opencover.xml
